<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Exemplo  charts</title>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    

    
</head>
<body>
 <div class="container">
  <h2 align="center">Exemplo Spring Boot Data Graph</h2>
  <div id="container" style="width: 550;height: 400"></div>
  </div>
 
 <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script th:inline="javascript">
 $(function(){
	 Highcharts.chart('container',{
		 chart:{
			type:'column' 
		 },
		 title:{
			 text:'Gráfico de agendamento'
		 }, subtitle:{
			 text:'Detalhes'
		 }, xAxis:{
			 categories:[[${keySet}]],
			 crosshair: true
		 }, yAxis:{
			 min:0,
			 max:31,
			 title:{
				 text:'Dias'
			 }
		 },
		 tolltip:{
			 headerFormat:'<span style="font-size:10px">{point.key}</span><table>',
			 pointFormat:'<tr><td style="color:{series.color};padding:0">{series.name}:></td>'+
			 '<td style="padding:0"><b>{point.y:.1f}k</b></td></tr>',
			 footerFormat:'</table>',
			 shared:true,
			 useHTML:true
		 },
		 plotOptions:{
			 column:{
				 pointPadding:0.2,
				 borderWidth:0
			 }
		 }, series:[{
			 name:'Veiculos',
			 data:[[${values}]]
		 }]
	 });
 });
 </script>
</body>
</html>