<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div align="center">
  <img src="https://files.cercomp.ufg.br/weby/up/1302/o/DLOG_UFG_PRETO.svg?1613059566"
     alt="DLOG_UFG_PRETO.svg"
     width="180"
     height="70"
     border="50%"  
     > 
 <a href="https://ufg.br/"><img src="https://files.cercomp.ufg.br/weby/up/1/o/Marca_UFG_cor_completa_horizontal.png"
     alt="logoUFGDlog.jpg"
     width="180"
     height="100"> </a> 
     <h2>Formulário para orçar serviços e peças</h2>  
 </div>
 <fieldset style="background-color: #FFFACD;margin-left: 4%; margin-right: 5%">
 <b><legend>Escolha uma ordem para orçar</legend></b>
 <table id="titem" class="striped">
         <thead>
         <tr>
          <th>Id</th>          
         </tr>         
         </thead>
       <tr th:each= "os:${osaberta}" >
         <!--  <td th:if="${os!=null}" style ="color:Blue; font-size: 20px; " th:text="${os}"></td> -->
          
         <td><a th:if="${os!=null}" th:href="@{/selecionarordem/{id_ordem}(id_ordem=${os})}" style="color:Blue;" th:text="${os}"></a></td>          
         </tr>                 
        </table>          
   </fieldset>
   
   <div th:each = "m : ${msg}" style="font-size: 15px; color: red;" align="center">
    <b><span th:text="${m}"></span></b>
   </div>
 
 <form action="/orcar" th:object="${ordem}">
 <fieldset style="background-color: #F0FFF0; margin-left: 4%; margin-right: 5%">
 <b><legend>Descrição do veiculo</legend></b>
   <div class="row">
		 <div class="input-field col s2">
		  <label for="id_ordem" class="active">Id</label> 
		  <input name="id_ordem" th:field="*{id_ordem}" id="id_ordem" readonly="readonly"class="validate">
		 </div>
		 <div class="input-field col s3">
		  <label for="veiculo" class="active">Placa e tipo do veículo</label>
		  <select class="browser-default" th:field="*{veiculo}" id="veiculo" name="veiculo" >
		   <option th:each = "v : ${veiculos}" th:value="${v.patrimonio}" th:text="${v.placa_atual+' - '+v.tipo}">
		  </select> 
		 </div>
		 <div class="input-field col s3">
		  <label for="data_emissao" class="active">Data Emissão</label> 
		  <input name="data_emissao" th:field="*{data_emissao}" id="data_emissao" type="date" oninput="maisculo(event)" class="validate">
		 </div>		 		 
	   </div>	
 </fieldset> 
 </form>
 <fieldset style="background-color:#FFFACD;margin-left: 4%; margin-right: 5%">
    <b><legend>Serviços/Peças</legend></b>
        <table class="striped">
         <thead>
         <tr>
          <th>Id</th>
          <th>Serviço/Peça</th> 
          <th>Qtd</th>                   
          <th>Editar</th>
          
         </tr>         
         </thead>
       <tr th:each= "i:${itens}">
          <td th:text="${i.IdDefeitos}"></td>
          <td th:text="${i.descricao}">
          <td th:text="${i.QtdRelatado}"></td>               
          <td><a th:if="${i.IdDefeitos !=null}" th:href="@{/editaritensordem/{id_defeitos}(id_defeitos=${i.IdDefeitos})}">Editar</a></td>
         <!--  <td> <a th:if="${fant.id !=null && fant.lancado==null}" th:href="@{/deletaragenda/{idagenda}(idagenda=${fant.id})}" style="color:red;">Excluir</a></td> -->
         </tr> 
         Para orçar escolha o item e clique em editar          
        </table>             
   </fieldset> 
   <form action="/salvarorcamento" th:object="${orcamentos}">
    <fieldset style="background-color: #F0FFF0; margin-left: 4%; margin-right: 5%">
     <b><legend>Inserção de Propostas</legend></b>
       <div class="row">
		 <div class="input-field col s2">
		  <label for="id_orcamento" class="active">Id</label> 
		  <input name="id_orcamento" th:field="*{id_orcamento}" id="id_orcamento" readonly="readonly"class="validate">
		 </div>
		 <div class="input-field col s2">
		  <label for="fk_ordem_servico" class="active">Fk Ordem</label> 
		  <input name="fk_ordem_servico" th:field="*{fk_ordem_servico}" id="fk_ordem_servico" readonly="readonly"class="validate">
		 </div>
		 <div class="input-field col s3">
		  <label for="data_orcamento" class="active">Data orçamento</label> 
		  <input name="data_orcamento" th:field="*{data_orcamento}" id="data_orcamento" type="date" oninput="maisculo(event)" class="validate">
		 </div>
		 <div class="input-field col s3">
		  <label for="fk_pessoa_juridica" class="active">Empresa</label>
		  <select class="browser-default" th:field="*{fk_pessoa_juridica}" id="fk_pessoa_juridica" name="fk_pessoa_juridica" readonly="readonly">
		   <option th:each = "p : ${pj}" th:value="${p.cd_pessoa_jur}" th:text="${p.nm_fantasia}">
		  </select> 
		 </div>
	 </div> 
		<div class="row"> 
		 <div class="input-field col s3">
		  <label for="fk_defeitos_relatados" class="active">Serviço ou peça</label>
		  <select class="browser-default" th:field="*{fk_defeitos_relatados}" id="fk_defeitos_relatados" name="fk_defeitos_relatados" readonly="readonly">
		   <option th:each = "i : ${item}" th:value="${i.IdDefeitos}" th:text="${i.descricao}">
		  </select> 
		 </div>
		 <div class="input-field col s1">
		  <label for="qtd" class="active">Qtd</label> 
		  <input name="qtd" th:field="${qtd}" th:value="${qtd}" id="qtd" th:text="${qtd}" class="validate" type="number">
		 </div>
		<div class="input-field col s2">
		  <label for="valor_unitario" class="active">Valor Unitário</label> 
		  <input onchange="multiplyBy()" name="valor_unitario" th:field="*{valor_unitario}" id="valor_unitario" class="validate" type="number">
		 </div>
		 <div class="input-field col s2">
		  <label for="valor_total" class="active">Valor Total</label> 
		  <input name="valor_total" th:field="*{valor_total}"  id="valor_total" readonly="readonly" class="validate" type="number">
		 </div> 
		 <div class="input-field col s4" th:if="${editar!=null}">
		  <button type="submit">Orçar</button>
		 </div>
		 		 		 
 	   </div>	
   </fieldset> 
  </form>
  <div th:each = "m : ${msg}" style="font-size: 15px; color: red;" align="center">
    <b><span th:text="${m}"></span></b>
   </div>
  <fieldset style="background-color: #FFFACD;margin-left: 4%; margin-right: 5%">
   <b> <legend>Serviços/Peças orçados</legend></b>
        <table class="striped">
         <thead>
         <tr>
          <th>Os</th>
          <th>Id</th> 
          <th>Qtd</th>
          <th>Item</th>
          <th>Unitario</th>                   
          <th>Total</th>
          
         </tr>         
         </thead>
        <tr th:each= "o:${orcados}">
          <td th:if="${o.id_ordem !=null}" th:text="${o.id_ordem}"></td>
          <td th:if="${o.id_orcamento !=null}" th:text="${o.id_orcamento}">
          <td th:if="${o.qtd_relatado !=null}" th:text="${o.qtd_relatado}"></td>
          <td th:if="${o.descricao !=null}" th:text="${o.descricao}"></td>  
          <td th:if="${o.valor_unitario !=null}" th:text="${o.valor_unitario}"></td>  
          <td th:if="${o.valor_total !=null}" th:text="${o.valor_total}"></td>                          
         </tr>           
        </table>             
   </fieldset>
   
   <script>
    function multiplyBy()
    {
      num1 = document.getElementById(
        "qtd").value;
      num2 = document.getElementById(
        "valor_unitario").value;
      document.getElementById(
        "valor_total").value = num1 * num2;
    }
  </script>

</body>
</html>