<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Termo de reponsabilidade condutor</title>
</head>
<body>
<fieldset style="margin-left: 1%; margin-right: 1%; margin-bottom: 2%; font-size: 25px;">
  <legend>Termo de responsabilidade condutor</legend>
  
  	Tendo em vista a autorização que me foi concedida para conduzir este veículo, declaro que estou ciente das disposições
  	determinadas pelas leis de trânsito brasileiras e devidamente habilitado para condução do veículo a mim designado. Declaro
  	também que estou ciente de minha responsabilidade pelo uso e conservação do veículo que me  está sendo entregue, responsabilizando-me
  	por qualquer ato de imprudência, imperícia que venha causar danos a este veículo em sua condução durante o trajeto a mim designado,
  	arcarei com responsabilidade por eventuais multas, contabilizado em minha CNH a respectiva pontuação e efetuando o pagamento do 
  	valor devido e outras penalidades que possam advirem.
  	 
</fieldset>
</body>
</html>