<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Termo de Responsabilidade da oficina</title>
</head>
<body>
<fieldset style="margin-left: 1%; margin-right: 1%; margin-bottom: 2%; font-size: 25px;">
 <legend>Termo de responsabilidade da oficina</legend>
	Tendo em vista a autorização que me foi concedida para conduzir veículo de propiedade ou sob a responsabilidade da
Universidade Federal de Goiás, declaro que estou ciente das disposições determinadas pelas leis de trânsito brasileiras
e que o veículo só será conduzido por pessoa devidamente habilitada para o tipo de veículo, seja de passageiro ou carga. Declaro também
que estou ciente da responsabilidade cívil, penal e administrativa pelo uso, guarda e conservação do veículo que me está
sendo entregue, responsabilizando-me por qualquer ato de imprudência, imperícia ou negligência e por qualquer dano ao
veículo, arcarei com resposabilidade por eventuais multas, contabilizando em CNH de condutor da oficina a respectiva 
pontuação que venha gerar e efetuando o pagamento do(s) valor(es) devido(s) e qualquer outra(s) penalidade(s) que advirem. 
Todas as peças que forem substituidas durante o reparo, solicitamos que sejam devolvidas junto com o veículo, quando da 
entrega do mesmo.	
</fieldset>
</body>
</html>